<a href="https://colab.research.google.com/github/Gudimetla-Sri-Lakshmi-Satya-Navya/Data-Warehouse-and-Data-mining/blob/main/SplittingDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('50_Startups_dataset.csv')
data.sample()

    Unnamed: 0  R&D Spend  Administration  Marketing Spend     State    Profit
38          38   20229.69        65948.03         185265.2  New York  81229.16

In [19]:
X=data.drop('Profit',axis=1).values
y=data['Profit'].values

In [13]:
print(data.columns)

Index(['Unnamed: 0', 'R&D Spend', 'Administration', 'Marketing Spend', 'State',
       'Profit'],
      dtype='object')

In [16]:
data['radius_category'] = pd.cut(data['R&D Spend'],
                                 bins = [0,10,20,30,np.inf],
                                 labels = ['0-10', '10-20', '20-30', '>30'])

In [17]:
print(data['radius_category'])

0      >30
1      >30
2      >30
3      >30
4      >30
5      >30
6      >30
7      >30
8      >30
9      >30
10     >30
11     >30
12     >30
13     >30
14     >30
15     >30
16     >30
17     >30
18     >30
19     >30
20     >30
21     >30
22     >30
23     >30
24     >30
25     >30
26     >30
27     >30
28     >30
29     >30
30     >30
31     >30
32     >30
33     >30
34     >30
35     >30
36     >30
37     >30
38     >30
39     >30
40     >30
41     >30
42     >30
43     >30
44     >30
45     >30
46     >30
47    0-10
48     >30
49    0-10
Name: radius_category, dtype: category
Categories (4, object): ['0-10' < '10-20' < '20-30' < '>30']

In [30]:
scaler = StandardScaler()

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)